<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= result[0].offer_name %> - Ecommerce Admin</title>
    <link rel="stylesheet" href="/css/admin.offers.css" />
    <link rel="stylesheet" href="/css/admin.common.css">
</head>
<body>
    

    <aside class="sidebar">
        <img id="logo" src="https://res.cloudinary.com/dozcrwtud/image/upload/v1743746754/White_Minimalist_Online_Fashion_Shop_Bag_Logo_1_od2d4q.png">
        <ul>
            <li><a href="/admin/dashboard">Main Dashboard</a></li>
            <li><a href="/admin/vendors">Vendor Details</a></li>
            <li><a href="/admin/sales">Sales</a></li>
            <li><a href="/admin/orders">Order Details</a></li>
            <li><a href="/admin/pending-verification">pending verification</a></li>
            <li><a href="/admin/offers">offers</a></li>
            <li><a href="/admin/users">Users</a></li>
            <li><a href="/admin/available-products">Available Products</a></li>
            <li><a href="/admin/contacttovendor">contact to vendor</a></li>
            <li><a href="/admin/notifications">notifications</a></li>
        </ul>
    </aside>

    <div class="main-content">
        <div class="header">
            <h1>Main Dashboard</h1>

        </div>
        <div class="content">
            <form id="offerform">
                <label for="fname">Offer Name</label>
                <input name="id" value="<%= result[0].offer_id %>" hidden>
                <input type="text" id="offername" name="offername" value="<%= result[0].offer_name %>" >
                <label for="lname">start date</label>
                <input type="date" id="startdate" name="startdate" value="<%= result[0].offer_start_date %>">
                <label for="lname">End date</label>
                <input type="date" id="enddate" name="enddate" value="<%= result[0].offer_end_date %>">
                <input type="submit" value="update offer">
            </form>
        </div>
    </div>

   
</body>
<script>
    let form = document.getElementById("offerform")
form.addEventListener('submit',async (e)=>{
    e.preventDefault()
    let formdata = new FormData(form)
    const response = await fetch("/admin/updateoffer", {
    method: "POST",
    body: formdata,
  });
  if (!response.ok) {
    throw new Error(`Response status: ${response.status}`);
  }

  const json = await response.json();
  let results = json.message;
  alert(results)
  window.location.href = "/admin/offers"
})
</script>
</html>