<!DOCTYPE html>
<html lang="en">
  <head>
    
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pending Verification - Ecommerce Admin</title>
    <link rel="stylesheet" href="/css/admin.common.css" />
    <link rel="stylesheet" href="/css/admin.pvseedetails.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css"
      rel="stylesheet"
    />
  </head>

  <body>
    <aside class="sidebar">
      <h2>Admin Dashboard</h2>
      <ul>
        <li><a href="/admin/dashboard">Main Dashboard</a></li>
        <li><a href="/admin/vendors">Vendor Details</a></li>
        <li><a href="/admin/sales">Sales</a></li>
        <li><a href="/admin/orders">Order Details</a></li>
        <li><a href="/admin/pending-verification">pending verification</a></li>
        <li><a href="/admin/offers">offers</a></li>
        <li><a href="/admin/users">Users</a></li>
        <li><a href="/admin/available-products">Available Products</a></li>
        <li><a href="/admin/contacttovendor">contact to vendor</a></li>
        <li><a href="/admin/notifications">notifications</a></li>
      </ul>
    </aside>

    <div class="main-content">
      <div id="myModal" class="modal">
        <div class="modal-content">
          <span class="close">&times;</span>
          <label for="cars">Choose a Reason:</label>
          <form id="rejectionform">
            <select name="cars" id="value">
              <option value="Incorrect GST">Incorrect GST</option>
              <option value="Incorrect AdharID">Incorrect AdharID</option>
              <option value="Incorrect Company details">
                Incorrect Company details
              </option>
              <option value="Incorrect Address">Incorrect Address</option>
            </select>
            <button type="submit" class="btn">Send</button>
          </form>
        </div>
      </div>
      <div class="details-container">
        <img src="/images/vendor.png" alt="Avatar" / class="logo">
        <p><strong>first name : <%= result[0].first_name %></strong></p>
        <p><strong>last name : <%= result[0].last_name %></strong></p>
        <p><strong>Email : <%= result[0].email %></strong></p>
        <p><strong>mobile number : <%= result[0].mobile_number %></strong></p>
        <p><strong>comapny name : <%= result[0].company_name %></strong></p>
        <p><strong>gst : <%= result[0].gst_number %></strong></p>
        <p><strong>verified : <%= result[0].is_verified %></strong></p>
        <p><strong>created at : <%= result[0].created_at %></strong></p>
        <p><strong>pincode : <%= result[0].pincode %></strong></p>
        <p><strong>city : <%= result[0].city %></strong></p>
        <p><strong>state : <%= result[0].state %></strong></p>

        
        <button onclick="verify(this.value)" id="btn"  value="<%= result[0].vendor_id %>">
          Verify
        </button>
        <button onclick="reject()" id="myBtn">reject</button>
      </div>
    </div>
  </body>
  <script src="/javascript/admin.pvseedetails.js"></script>
</html>
